.container{
    width: 50%;
    margin: auto;
}

.box{
    width: 100%;
    background-color: lightgray;
    padding: 1em;

    display: flex;
    justify-content: space-between;

    margin-bottom: 0.5em;
}