<div class="container">
    <h3>Cart</h3>
    <div *ngFor="let item of items" class="item">
        <span>{{ item.name }}</span>
        <span>{{ item.prezzo | currency }}</span>
    </div>
    
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    
        <div>
            <label for="name">Nome</label><br>
            <input type="text" id="nome" formControlName="nome">
        </div>
    
        <div>
            <label for="indirizzo">Indirizzo</label><br>
            <input type="text" id="indirizzo" formControlName="indirizzo">
        </div>
    
        <button type="submit">Checkout</button>
    </form>
</div>