.container{
    width:50%;
    margin:auto;
}

.item{
    width: 100%;
    background-color: lightgray;

    display: flex;
    justify-content: space-between;

    padding: 2em;
}

form{
    margin-top: 2vh;
}