.container{
    width: 50%;
    margin: auto;

}

.grid{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    background-color: lightseagreen;
    color: white;
    border: 0;
  
    border-radius: 0.5em;
    padding: 0.5em;
}

button:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: lightseagreen;
}

.card{
    max-width: 30%;
    height: 25vh;
    padding: 2em;
  
}

.actions{
    margin-bottom: 1em;
}