.container{
    width: 50%;
    margin: auto;
}

button{
    background-color: lightseagreen;
    color: white;
    border: 0;
    padding: 0.75em;
    border-radius: 0.5em;
}

button:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: lightseagreen;
}

.product{
    background-color: lightgray;
    padding: 0.5em;

    margin-bottom: 1em;
}